.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  color: white;
  background-color: black;
  padding: 12px 18px;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
